body{
	background:url(../resources/bg/background.png);
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
}

div.menu{

	padding-top: 38%;

}

li{
	display: block;
}

li.menu-li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	}


img{
	height: 50px;
	opacity: 0.4;
}

img.login{
	height: 100px;
	float:left;
}


p{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#FFF;
	clear:both;
	opacity: 0;
}