body{
	background:url(../resources/bg/background.png);
	background-size:cover;
	background-repeat:no-repeat;
}

div{
	margin-top: 650px;
	margin-left: auto;
	margin-right: auto;
	width: 1187px;
	}

li{
	display: inline-block;

	margin-left: 100px;
	
	}

img{
	height: 100px;
	width: 100px;
	opacity: 0.5;
	}
