body{
	background:url(../resources/bg/background.png);
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
}

div.menu{
	padding-top: 11%;	
}

li{
	display: block;
}

li.menu-li{
	display: inline-block;
	margin-top:50px;
	margin-right:48px;
	margin-left:-27px;
}

li.intro-menu-li{
	display: inline-block;
	margin-top:-90px;
        margin-left:-45px;
}

img.aboutUs{
	height: 38.5px;
	opacity: 0.4;
	margin-left:-30px;
}

img.addFavorite{
	height: 37.5px;
	opacity: 0.4;
	
}

img.blog{
	height: 38px;
	opacity: 0.4;
	
}

img.contactUs{
         height: 31px;
         opacity:0.4;
	 margin-left:-10px;
}

img.bg-logo{
	height: 305px;
	opacity: 1;
}

img.login{
	height: 93.5px;
        float:left;
	opacity: 0.4;
}

img.intro{
	height: 500px;
}


p{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	margin-top:20px;
	clear:both;
	opacity: 0;
}

p#contactUs{
	margin-left:-10px;
}

p#aboutUs{
	margin-left:-30px;
}

#login_box_wrapper{
	display:none;
}