/*HOME*/
.fork h4{
    text-align: center
}
#homewrapper.services-one-selected .services-one a {
    color: #ec6849;
    text-decoration: none;
}
#homewrapper.services-two-selected .services-two a {
    color: #ec6849;
    text-decoration: none;
}
#homewrapper.services-three-selected .services-three a {
    color: #ec6849;
    text-decoration: none;
}
#homewrapper.services-four-selected .services-four a {
    color: #ec6849;
    text-decoration: none;
}

#homewrapper.services-one-selected .services-one h3 {
    background: url('../images/icon_01.png') no-repeat center bottom;
}
#homewrapper.services-two-selected .services-two h3 {
    background: url('../images/icon_02.png') no-repeat center bottom;
}
#homewrapper.services-three-selected .services-three h3 {
    background: url('../images/icon_03.png') no-repeat center bottom;
}
#homewrapper.services-four-selected .services-four h3 {
    background: url('../images/icon_04.png') no-repeat center bottom;
}

#homewrapper.services-one-selected .services-one .learn-more {
    background: #ec6849 url('../images/icon_minus.png') no-repeat right bottom;
    color: #ffffff;
}
#homewrapper.services-two-selected .services-two .learn-more {
    background: #ec6849 url('../images/icon_minus.png') no-repeat right bottom;
    color: #ffffff;
}
#homewrapper.services-three-selected .services-three .learn-more {
    background: #ec6849 url('../images/icon_minus.png') no-repeat right bottom;
    color: #ffffff;
}
#homewrapper.services-four-selected .services-four .learn-more {
    background: #ec6849 url('../images/icon_minus.png') no-repeat right bottom;
    color: #ffffff;
}

#homewrapper .fork,
{
    background: url('../images/bg_services.png') no-repeat;
}

#homewrapper .fork h4,
{
    color: #ffffff;
}

#homewrapper.services-one .fork {
    background-position: center -100px;
}
#homewrapper.services-two .fork {
    background-position: center -200px;
}
#homewrapper.services-three .fork {
    background-position: center -300px;
}

#homewrapper.services-four .fork {
    background-position: center -400px;
}


.services {
    padding: 60px 0 40px 0;
    width: 960px;
    overflow: hidden;
    margin: auto;
}

.fork {
    height: 100px;
    background: url('../images/bg_services.png') no-repeat center top;
}

.fork h4 {
    line-height: 3.4;
}

.services ul {
    margin: 0 auto 0 auto;
    overflow: auto;
}

.services ul li {
    float: left;
    width: 225px;
    text-align: left;
}

.services .services-one {
    margin: 0 20px 0 0;
}

.services .services-two {
    margin: 0 20px 0 0;
}

.services .services-three {
    margin: 0 20px 0 0;
}

.services .services-four {
    margin: 0 0 0 0;
}

.services .services-one h3 {
    background: url('../images/icon_01.png') no-repeat center top;
    padding: 130px 0 15px 0;
}

.services .services-two h3 {
    background: url('../images/icon_02.png') no-repeat center top;
    padding: 130px 0 15px 0;
}

.services .services-three h3 {
    background: url('../images/icon_03.png') no-repeat center top;
    padding: 130px 0 15px 0;
}

.services .services-four h3 {
    background: url('../images/icon_04.png') no-repeat center top;
    padding: 130px 0 15px 0;
}

.services .description {
    height: 180px;
    min-height: 180px;
    padding-bottom: 10px;
}

.services .learn-more {
    background: #d0ccc0 url('../images/icon_plus.png') no-repeat right top;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    line-height: 1;
    padding: 7px 15px 7px 20px;
    font-weight: bold;
}

.services a:hover .learn-more {
    background: #ec6849 url('../images/icon_plus.png') no-repeat right bottom;
    color: #ffffff;
}

.services .services-one a:hover h3 {
    background: url('../images/icon_01.png') no-repeat center bottom;
}

.services .services-two a:hover h3 {
    background: url('../images/icon_02.png') no-repeat center bottom;
}

.services .services-three a:hover h3 {
    background: url('../images/icon_03.png') no-repeat center bottom;
}

.services .services-four a:hover h3 {
    background: url('../images/icon_04.png') no-repeat center bottom;
}

.slider {
    background: #d0ccc0 url('../images/bg_slider.png') repeat-x center top;
    margin: auto;
    text-align: left;
    /*  display: none; */
}

.slider .content {
    width: 960px;
    margin: auto;
}

.slider .texts {
    padding: 50px 0 20px;
}

.slider .texts h5 {
    line-height: 1.2;
}

.slider .texts p {
    margin: 0 0 20px 0;
}

/*
.services-desc {
    display: none;
}
*/

.selected-one {
    position: relative;
    z-index: 99;
    top: 10px;
    width: 225px;
    height: 50px;
    background: url('../images/bg_slider_selected.png') no-repeat center top;
}