html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a {
    color: #1a0700;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

a:hover {
    color: #ec6849;
    text-decoration: none;
}
a img {border: 0;}

ul {
    list-style-type: none;
}

button, textarea, input {
    font-family: 'Helvetica', Arial, sans-serif;
}

input, textarea {
    padding: 12px 6px 9px 6px;
    margin: auto;
    margin: 0 0 20px 0;
}

textarea {
    min-height: 250px;
    padding: 12px 6px 9px 6px;
    resize: none;
}

button {
    width: 140px;
    height: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #ec6849;
    background: -webkit-gradient(
    				linear,
    				left top,
    				left bottom,
    				color-stop(0, #ec6849),
    				color-stop(1, #df4825)
    			);
    background: -moz-linear-gradient(
    				center top,
    				#ec6849 0%,
    				#df4825 100%
    			);
    background: gradient(
    				center top,
    				#ec6849 0%,
    				#df4825 100%
    			);
    border-color: #bc3414;
    text-shadow: 0 -1px 1px #bc3414;
    box-shadow: inset 0px 1px 0 #ff8366, 0 2px 3px rgba(73,66,24,0.25);
}

button:hover {
    background: #fd7e60;
    background: -webkit-gradient(
    				linear,
    				left top,
    				left bottom,
    				color-stop(0, #fd7e60),
    				color-stop(1, #f2603e)
    			);
    background: -moz-linear-gradient(
    				center top,
    				#fd7e60 0%,
    				#f2603e 100%
    			);
    background: gradient(
    				center top,
    				#fd7e60 0%,
    				#f2603e 100%
    			);
    border-color: #e05c3c;
    text-shadow: 0 -1px 1px #cb4121;
    box-shadow: inset 0px 1px 0 #ffb9a9, 0 2px 3px rgba(73,66,24,0.25);
    cursor: pointer;
}

button:active {
    background: #ce4525;
    background: -webkit-gradient(
    				linear,
    				left top,
    				left bottom,
    				color-stop(0, #b0290a),
    				color-stop(1, #ce4525)
    			);
    background: -moz-linear-gradient(
    				center top,
    				#b0290a 0%,
    				#ce4525 100%
    			);
    background: gradient(
    				center top,
    				#b0290a 0%,
    				#ce4525 100%
    			);
    border-color: #7c1800;
    text-shadow: 0 1px 1px #981d00;
    box-shadow: inset 0px 2px 3px #751600, 0 1px 0 #ffffff;
    cursor: pointer;
    position: relative;
    top: 2px;
}

/*	Typography presets
	------------------	*/

h1 {
	font-size: 60px;
	line-height: 75px;
	letter-spacing: -3px;
}

h2 {
	font-size: 30px;
	line-height: 24px;
	letter-spacing: -1px;
}

h3 {
	font-size: 24px;
	line-height: 24px;
}

h4 {
	font-size: 16px;
	line-height: 18px;
}

h5 {
    font-size: 30px;
    line-height: 30px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

::selection 	 	{background: rgb(236,104,73); color: rgba(255, 255, 255, 0.85);}
::-moz-selection 	{background: rgb(236,104,73); color: rgba(255, 255, 255, 0.85);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {-webkit-tap-highlight-color: rgb(236,104,73); color: rgba(255, 255, 255, 0.85);}

body {
	font-size: 14px;
	background: #1a0700 url('../images/bg.png') center top repeat-x;

    background: #e3e0d7 url('../images/bg_pattern.png') no-repeat center top;
	color: #1a0700;
	font-family: 'Helvetica', Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
    padding-top: 0px !important;
}

#wrapper {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative; /* Required to absolutely position the footer */
}

#wrapper>header {
    min-height: 80px;
    padding: 20px 0 0 0;
    overflow: visible;
    width: 960px;
    margin: auto;
    background-color: none;
}

#wrapper>section {
    padding-bottom: 160px; /* This should match the height of the footer */
    margin: 0 auto 0 auto;
    width: 80%;
    min-width: 960px;
}

#wrapper>footer {
    height: 100px; /* Define height of the footer */
    position: absolute;
    bottom: 0; /* Sit it on the bottom */
    left: 0;
    width: 100%; /* As wide as it's allowed */
}

.logo {
    width: 243px;
    height: 70px;
    float: left;
}

.logo a {
    background: url('../images/logo.png') no-repeat left top;
    display: block;
    width: 243px;
    height: 70px;
}

nav {
    float: right;
    margin-top: 25px;
}

nav ul li {
    float: left;
    margin: 0 5px 0 5px;
    height: 30px;
}

nav ul li a,.nav-pills li a {
    font-weight: bold;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 6px 20px 4px 20px;
    text-transform: uppercase;
}
nav ul li a:hover {
    background: #EC6849;
    color: #ffffff;
}

nav ul li.selected> a {
    background: #1a0700;
    color: #ffffff;
}

.nav > li > a:hover {
    background: #EC6849;
    color: #ffffff;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    background: #1a0700;
    color: #ffffff;
}


.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #EC6849;
  background-color: #EC6860;
  background-image: -moz-linear-gradient(top, #EC6849, #EC6860);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EC6849), to(#EC6860));
  background-image: -webkit-linear-gradient(top, #EC6849, #EC6860);
  background-image: -o-linear-gradient(top, #EC6849, #EC6860);
  background-image: linear-gradient(to bottom, #EC6849, #EC6860);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffEC6849', endColorstr='#ffEC6860', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;  background-color: #EC6849;
    background-color: #EC6860;
    background-image: -moz-linear-gradient(top, #EC6849, #EC6860);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EC6849), to(#EC6860));
    background-image: -webkit-linear-gradient(top, #EC6849, #EC6860);
    background-image: -o-linear-gradient(top, #EC6849, #EC6860);
    background-image: linear-gradient(to bottom, #EC6849, #EC6860);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffEC6849', endColorstr='#ffEC6860', GradientType=0);
    outline: 0;
  }
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #EC6849;
    border-bottom-color: #EC6849;
}

.nav .dropdown-toggle:hover .caret {
    border-top-color: #1a0700;
    border-bottom-color: #1a0700;
}

header.headline {
    clear: both;
    text-align: center;
    padding: 40px 0 0 0;
}

header.headline h1 {
    color: #ec6849;
}

header.headline h2 {
    font-weight: normal;
}

footer {
    padding: 30px 0;
    text-align: center;
    margin: 0 auto 0 auto;
    background: #1a0700;
    clear:both;
}

footer a {
    color: #d1cdcc;
    font-weight: bold;
}

footer a:hover {
    color: #ffffff;
}

footer ul {
    width: 960px;
    margin: 0 auto 60px auto;
    text-align: center;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

footer .copy {
    color: #766a66;
    font-size: 13px;
}
/*About us*/

.aboutus {
    min-height: 350px;
    margin: 60px auto 30px auto;
    text-align: center;
    width: 960px;
    padding: 0 0 40px 0;
}

.aboutus a {
    font-weight: bold;
}

.aboutus p {
    padding: 0 0 20px 0;
}

.aboutus h5 {
    margin: 0 0 20px 0;
}

.aboutus .column-ab {
    float: left;
    padding: 0 220px;
    text-align: left;
}

.aboutus .column-a {
    float: left;
    width: 350px;
    padding: 0 30px 0 100px;
}

.aboutus .column-b {
    float: right;
    width: 350px;
    padding: 0 100px 0 30px;
}

/*Contact*/
.contactus {
    margin: 20px auto 30px auto;
    text-align: left;
    width: 960px;
    overflow: auto;
}

.contactus h6 {
    padding: 20px 0 0 0;
}

.contactus .contactform {
    float: left;
    padding: 0 50px 0 100px;
    border-right:  1px solid #d5d1c7;
}

.contactus .info {
    float: right;
    padding: 0 120px 0 0;
}

.contactus label,.contactus input,.contactus textarea {
    float: left;
    clear: both;
    font-weight: bold;
    outline: 0;
}

.contactus button {
    float: left;
    clear: both;
    font-weight: bold;
}

.contactus span {
    color: #EC6849;
    font-weight: bold;
}

/*Login*/
.login {
    min-height: 400px;
    margin: 60px auto 30px auto;
    text-align: center;
    width: 960px;
}

.login .loginform {
    margin: auto;
    text-align: center;
    padding: 0 0 0 280px;
}

.login label,.login input, .login textarea {
    float: left;
    clear: both;
    font-weight: bold;
}

.login button {
    float: left;
    clear: both;
    font-weight: bold;
}

.login span {
    color: #EC6849;
    font-weight: bold;
}
.notices {
    padding-bottom: 15px;
}
.errorMessage {
    color: #EC6849;
}

.form .well{
    padding-left: 50px;
}

.signup-stats-nav li a {
	text-decoration: none;
}

/* Login page */
#login {
	margin: auto;
	margin-top:15%;
	width:310px;
	height:225px;
	background:#fff;
	box-shadow: 0 0 15px #a7a8ab;
	-webkit-box-shadow: 0 0 15px #a7a8ab;
	-moz-box-shadow: 0 0 15px #a7a8ab;
	-webkit-border-radius: 10px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius: 10px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-radius: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#login h1 {
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	padding: 13px 0;
	text-align: center;
	letter-spacing: 0.1em;
	text-shadow: #1B2532 0px 1px 0px;
	border-bottom:1px solid #1c233f;
	border-top:1px solid #8595aa;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #3f5773;
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(0, #6d839b),
					color-stop(.49, #3f5773),
					color-stop(.50, #394e69),
					color-stop(1, #293f57)
				);
	background: -moz-linear-gradient(
					center top,
					#6d839b 0%,
					#3f5773 49%,
					#394e69 50%,
					#293f57 100%
				);
	background: gradient(
					center top,
					#6d839b 0%,
					#3f5773 49%,
					#394e69 50%,
					#293f57 100%
				);
}

#login ul {
	padding:0;
	margin:15px 0;
	text-align: center;
	list-style-type: none;
	font-size:12px;
	color:#1c233f;
	font-weight: 700;
}

#login ul input {
	width:235px;
	height: 25px;
	font-size: 13px;

	padding: 0px 5px 0px 5px;
}

#login ul button.signin {
	font-size: 12px;
	margin-top:5px;
	width:90px;
	height:30px;
}

#login ul button.signin span {
	display: inline-block;
	width:20px;
	height:16px;
	margin-bottom: -3px;
	background:url('../images/icon_lock.png') no-repeat;
}

#login-errors {
	margin: auto;
	margin-top:20px;
	width:290px;
	font-size: 13px;
}

#login-errors p {
	margin: 0;
	font-weight: bold;
}

#login-errors ul {
	margin-left: 30px;
}

#searchUsersForm {
	font-size: 12px;
}

.auth-box select {
	min-width: 200px;
	scrollbar-face-color: #fff;
	font-weight: normal;
}

#add-admin-user-form {
	font-size:12px;
}

#add-admin-user-form label {
	width:100px;
	display: inline-block;
}

#add-admin-user-form button {
	margin-left:105px;
}

#add-admin-user-form input.radio{
	width:auto;
	padding:0;
	margin:5px 0 10px 0;
}

#add-admin-user-form label.radio{
	width:50px;
}

.admin-form {
	font-size:12px;
}

.admin-form label {
	width:100px;
	display: inline-block;
}

.admin-form button {
	margin-left:105px;
}

#stats_container {
}

.stats-graph {
	margin: 0 0 30px 30px;
}

#create-admin-link, #create-item-link {
	display: block;
}

/* View profile data */

#profile-info {
	overflow: hidden;
}

#profile-settings {
	overflow: hidden;
}

#title-view-profile {
    width: 100%;
}

#profile-username {
	float: left;
}

#title-view-profile .membershipType {
	float:left;
	padding-left:30px;
}

#title-view-profile .premium-info {
	color:#FF7800;
	font-size: 18px;
	font-weight: normal;
	padding-top: 6px;
}

#title-view-profile .freeupgrade-info {
	color:#FF0000;
	font-size: 18px;
	font-weight: normal;
	padding-top: 6px;
}

#title-view-profile .non-premium-info {
	color:#AAAAAA;
}

#title-view-profile .deleted-text {
	color:#FF0000;
	font-weight: normal;
	padding-left: 20px;
}

#profile-image {
	float:left;
}

#profile-data {
	font-size: 13px;
	float:left;
	list-style-type: none;
	margin-left: 15px;
}

#profile-data li {
	padding: 0 0 7px 0;
}

#profile-data .profile-data-title {
	font-weight:bold;
}

#profile-action-links {
	float:right;
	font-size:13px;
	list-style-type:none;
	margin:-8px 0px 0px 568px;
	position:absolute;
	text-align:right;
	z-index:999;
}

#profile-action-links li {
	border-bottom: solid 1px #C1C6D2;
	padding: 5px;
}

#profile-action-links a {
	font-weight: bold;
}

#profile-action-links span.arrow {
	padding: 0 15px 0 30px;
}

#profile-action-links .lastActivity {
	padding-right: 66px;
}

#profile-settings {
	clear: both;
	margin-top: 120px;
}

#support-update-subscription-container {
	float: left;
	list-style-type: none;
	font-size: 13px;
}

#support-update-subscription-container label {
	display: inline-block;
	width: 170px;
}

#support-update-subscription-container input {
	width: 56px;
}

#support-update-subscription-container select {
	width: 100px;
}

#support-update-subscription-container button {
	width: 80px;
}

#support-change-profile {
	float: right;
	list-style-type: none;
	font-size: 13px;
}

#support-change-profile label {
	display: inline-block;
	width: 100px;
}

#support-change-profile input {
	width: 38px;
}

#support-change-profile button {
	width: 80px;
}

#support-change-profile select {
	width: 120px;
}

.hide-button button {display:none}

#createActionProfileForm {
	padding-bottom: 20px;
}

#createActionProfileForm .buttons {
	padding-top: 0px;
	clear: both;
}

#createActionProfileForm label {
	width: 155px;
	height: 30px;
	display: inline-block;
	font-size: 13px;
}

#createActionProfileForm .input-container {
	display:inline-block;
	height: 43px;
}

#createActionProfileForm .input-container label {
	width: auto;
}

#createActionProfileForm .input-container input {
	width: 15px;
}

#createActionProfileForm .left-side {
	float:left;
	overflow: hidden;
	width: 50%;
}

#createActionProfileForm .right-side {
	float:left;
	overflow: hidden;
	width: 50%;
}

#createActionProfileForm .errorSummary {
	font-size:13px;
}

#createActionProfileForm select {
	width: 210px;
}

#createActionProfileForm input {
	width: 200px;
}

#createActionProfileForm textarea {
	width: 360px;
	height: 131px;
}

#birthday-select-cnt select {
	width: 64px;
}

li.support-delete-user button, li.support-show-billing-info button {
	margin: 5px 0;
}

.ac_results {
	border: solid 1px #7288A1;
	width: 210px;
}

.ac_results .ac_even {
	font-size:12px;
}

.ac_results .ac_odd {
	font-size:12px;
}

.ac_results .ac_over {
	background:#1C233F;
}

.scroll-wrapper{
	overflow-x:scroll !important;
}

.left-chars-counter {
	color: #555555;
	float: right;
	font-family: Georgia;
	font-size: 1.8em;
	font-weight: bold;
	margin-right: 285px;
	margin-top: -8px;
}

.left-chars-counter.counter-error-length {
	color: #EC2282;
}

#dEditActionMessageForm {

}

#dEditActionMessageForm textarea {
	height: 150px;
	width: 97.5%;
}

.table-legend {
	margin: 8px 0 0 5px
}

.table-legend dt {
	display:inline;
	font-weight:bold;
	font-size:13px;
}

.table-legend dd {
	display:inline;
	font-size:13px;
}

/* Correction queue */

#profiles-nr-to-review {
	float: right;
	font-weight: bold;
	font-size: 14px;
	margin: 15px 0 0 0;
}

#profiles-nr-to-review .nr {
	color:#FF7800;
}

.viewEditProfile .short-info {
	font-size:13px;
	margin-bottom:10px;
}

#user-username {
	font-weight: bold;
	font-size:18px;
	color:#FF7800;
	cursor:pointer;
	background:url('../images/edit_16.png') center right no-repeat;
	padding-right:20px;
}

.viewEditProfile .top .general-info{
	overflow:hidden;
	min-height:370px;
}

.viewEditProfile .top .general-info .images{
	float:left;
	width:315px;
	height:315px;
	overflow:hidden;
	margin:0;
}

.viewEditProfile .top .general-info .images .list{
	overflow:hidden;
}

.viewEditProfile .top .general-info .images .list ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

.viewEditProfile .top .general-info .images .list ul li{
	float:left;
	margin:0 5px 5px 0;
	width:100px;
	height:100px;
}

.viewEditProfile .top .general-info .images .list ul li a.active{
	display:block;
	width:99px;
	height:99px;
}

.viewEditProfile .top .general-info .images .list ul li .delete{
	height:22px;
	margin-left:75px;
	margin-top:-98px;
	position:absolute;
	width:22px;
	display:none;
}

.viewEditProfile .top .general-info .images .pagination{
	margin-top:15px;
}

.viewEditProfile .top .general-info .primary{
	float:left;
	width:325px;
	margin:0 5px;
	overflow: hidden;
}

.viewEditProfile .top .general-info .primary .image{
	background:#000;
	height:310px;
	width:320px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	overflow:hidden;
	margin-bottom:5px;
}

.viewEditProfile .top .general-info .primary .image.edit-profile-Man{
	background:url(../images/no-photo-profile-man.png);
}
.viewEditProfile .top .general-info .primary .image.edit-profile-Woman{
	background:url(../images/no-photo-profile-woman.png);
}

.viewEditProfile .top .general-info .primary .image a{
	display:block;
}

.viewEditProfile .top .general-info .primary .image img{
	vertical-align:middle;
	max-width:320px;
	border: none;
}

.viewEditProfile .top .general-info .primary .prev-next-links{
	position:absolute;
	width:320px;
	background:url(../images/pixel.gif);
	cursor:pointer;
}

.viewEditProfile .top .general-info .primary .prev-next-links .area{
	height:310px;
	width:80px;
}

.viewEditProfile .top .general-info .primary .prev-next-links .area a{
	display:none;
	text-indent:-9999px;
	height:310px;
	width:80px;
}

.viewEditProfile .top .general-info .primary .prev-next-links .left-area{
	float:left;
}

.viewEditProfile .top .general-info .primary .prev-next-links .right-area{
	float:right;
}

.viewEditProfile .top .general-info .primary .prev-next-links .left-area a.prev-image{
	background:url(../images/fancy_nav_left.png) center left no-repeat;
	float:left;
	opacity:0.6;
}

.viewEditProfile .top .general-info .primary .prev-next-links .right-area a.next-image {
	float:right;
	background:url(../images/fancy_nav_right.png) center right no-repeat;
	opacity:0.6;
}

#editMyProfile {
	clear:both;
}

#editMyProfile dt {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	width: 100px;
}

#editMyProfile dd {
	display:inline-block;
	width:155px;
	font-size: 12px;
	height:25px;
}

#editMyProfile dd select {
	width: 144px;
	height:25px;
}

#editMyProfile dt.self-description {
	display: none;
}

#editMyProfile dd.self-description {
	width: 100%;
	height:auto;
	margin-top:5px;
}

#editMyProfile dd input[type=checkbox] {
	width:15px;
}

#selfDescription {
	height: 100px;
	width:762px;
}

#editMyProfile .submit {
	text-align: center;
}

#profileInfoUsernameEditForm {
	display:inline;
}

#profileInfoUsernameEditForm input {
	width:150px;
}

.table_container .generic td h4{
	margin:0;
	font-weight:bold;
}


/* Review staff */

#staffMenu {
	border-bottom: 1px solid #a8b3b9;
	float: left;
	list-style-type: none;
	margin: 16px 0 0;
	text-align: left;
	width: 100%;
}

#staffMenu li {
	display: inline;
	margin-right: 30px;
}

#staffMenu li a {
	padding: 4px 10px;
}

#staffMenu li.selected {
	-moz-box-shadow: 0 1px 0 #FFFFFF inset;
	background: -moz-linear-gradient(center top , #DCE1E4 0%, #CBD1D5 100%) repeat scroll 0 0 transparent;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#DCE1E4), to(#CBD1D5));
	-webkit-box-shadow:#FFFFFF 0 1px 0 inset;
	background-color: #E85163;
	text-shadow: 0 1px 0 #FFFFFF;
	display: inline-block;
	border: 1px solid #a8b3b9;
	border-bottom: none;
}

#staffMenu li.selected a {
	display: inline-block;
	padding: 4px 10px;
}

#staffMenu li.selected span {
	color: #fff;
	text-shadow: 0 -1px 0 #1C233F;
}

#staffMenu a {
	font-weight: bold;
}

#staffMenu span {
	color: #FF7800;
}

#staff-review-cnt {
	clear: both;
	float: left;
	margin: 10px 0 0;
	width: 100%;
}

#staff-review-info {
	list-style-type: none;
	margin: 10px 0 0 0;
	overflow: hidden;
	font-size: 12px;
	color: #1C233F;
	border: 1px solid #C1C6D2;
}

#staff-review-info h3 {
	-moz-box-shadow: 0 1px 0 #FFFFFF inset;
	background: -moz-linear-gradient(center top , #DCE1E4 0%, #CBD1D5 100%) repeat scroll 0 0 transparent;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#DCE1E4), to(#CBD1D5));
	-webkit-box-shadow:#FFFFFF 0 1px 0 inset;
	background-color: #E85163;
	color: #1C233F;
	padding: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
	overflow: hidden;
	font-size: inherit;
	line-height:20px;
	margin: 0;
}

#staff-review-username {
	float: left;
	width: 33%;
	font-weight: 700;
	color: #7e85ef;
}

#staff-review-membership {
	float: left;
	width: 33%;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

#staff-review-membership.Premium {
	background: url("../images/premium_badge.png") no-repeat center;
}

#staff-review-enter-time {
	float: left;
	width: 33%;
	text-align: right;
}

#staff-review-email {
	float: left;
	width: 33%;
	clear: left;
}

#staff-review-gender {
	float: left;
	width: 33%;
	text-align: center;
	font-weight: bold;
	color: #FFF;
}

#staff-review-gender.Woman {
	background: none repeat scroll 0 0 #FF9BB6;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 #F283A5;
}

#staff-review-exit-time {
	float: left;
	width: 33%;
	text-align: right;
}

#staff-review-data {
	border-bottom: 1px solid #a8b3b9;
	border-top: 1px solid #a8b3b9;
	float: left;
	margin: 0;
	min-height: 200px;
	padding: 10px 0 0;
	text-align: center;
	width: 100%;
}

#staff-review-data p {
	padding: 5px;
	margin: 0;
}

#staff-review-data.staff-username-data {
	font-size: 18px;
	min-height: 75px;
	padding: 40px 0 0;
}

#staff-review-data.staff-update-data {
	min-height: 75px;
}

#staff-review-data.staff-desc-data {
	text-align: left;
	padding: 0;
}

#staff-review-data.staff-desc-data div.container {
	border-top: 1px solid #a8b3b9;
	overflow: hidden;
}

#staff-review-data.staff-desc-data div.content {
	float: right;
	min-height: 95px;
	padding: 3px;
	width: 88%;
	border-left: 1px solid #A8B3B9;
}

#staff-review-data.staff-desc-data div.staff-desc-title {
	float: left;
	width: 10%;
}

#staff-review-admin-username {
	float: left;
	width: 32%;
	padding: 10px 0 0 10px;
}

#staff-review-action {
	float: left;
	width: 33%;
	text-align: center;
	font-weight: 700;
	font-size:14px;
	padding: 10px 0 0 0;
}

#staff-review-action.DENIED {
	color:#FE2517;
}

#staff-review-action.APPROVED {
	color:#13B965;
}

#staff-review-action.EDITED {
	color:#7CF97E;
}

#staff-review-action.G-RATED {
	color:#13B965;
}

#staff-review-action.SEXUAL {
	color:#FEA823;
}

#staff-review-action.EXPLICIT {
	color:#7935D3;
}

#staff-review-action.HARDCORE {
	color:#FE49FD;
}

#staff-review-how-long {
	float: left;
	width: 32%;
	text-align: right;
	padding: 10px 10px 0 0;
}

#staff-info-form-cnt {
	border-top: 1px solid #a8b3b9;
	clear: both;
	float: left;
	margin: 10px 0 0;
	text-align: center;
	width: 100%;
}

#staff-info-form-cnt button {
	height: 40px;
	margin: 10px 0 0;
	width: 90%;
	color:green;
}

#staff-info-form-cnt button.staff-deny-button {
	color:red;
}

#staffReviewForm {
	padding: 30px 0 10px 0;
}


/* L profile settings */

#addLProfileSettings-scores {
	margin-bottom: 10px;
	float:left;
	border: 1px solid #CBD1D5;
	background: #F4F5F9;
	padding:10px;
	font-size: 12px;
}

#addLProfileSettings-scores label {
	width:85px;
	display:inline-block;
}

#addLProfileSettings-general-pool {
	clear:both;
}

.addLProfileSettings-poolType {
	margin-bottom: 10px;
	margin-right:7px;
	float:left;
	border: 1px solid #CBD1D5;
	background: #F4F5F9;
	padding:10px;
	font-size: 12px;
}

#addLProfileSettings-button-cnt {
	clear:both;
	margin-top:10px;
	text-align: center;
}


/* Manage keywords */

#add-keyword-cnt {
	clear: both;
	padding: 15px 0 15px 0;
}


/* Review User Settings */

#dEditUserReviewForm {
	width: 180px;
}

#dEditUserReviewForm input {
	width: 25px;
}

/* Yii pager */

.loading ul.yiiPager a, .grid-view-loading ul.yiiPager a {
	display:none;
}

.loading ul.yiiPager, .grid-view-loading ul.yiiPager {
	background: transparent url(../images/ajax.gif) no-repeat left center;
	padding: 16px;
	margin-left: 10px;
}

/* Tooltips */
.doom-tooltip-cnt {
	text-align: center;
	margin-top: 23px;
}

.doom-tooltip-text {
	background: #000;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 4px 8px;
	color: #fff;
	text-shadow:none;
	opacity: 0.8;
	font-size: 12px;
	font-weight: normal;
}
#reviewUsers-grid .generic tr.row1 td {
	background: #D3B8DB !important;
}
#reviewUsers-grid .generic tr.row2 td {
	background: #B8CDDB !important;
}
#reviewUsers-grid .generic tr.row3 td {
	background: #C4DBB8 !important;
}


/* Admin - Bamboo API */

#bamboo-status {
	padding: 10px 0 0 10px;
	font-size: 12px;
}

#bamboo-status-title {
	margin: 20px 0 0 0;
	color: #3C78B5;
	padding: 0 0 0 10px;
}

table.bamboo-status td a {
	color: #326CA6;
}

table.bamboo-status td a:hover {
	text-decoration: underline;
}

table.bamboo-status th {
	border: 1px solid #ffffff;
	border-bottom: 1px dotted #CBD1D5;
	padding: 0 5px;
	color: #999;
}

table.bamboo-status td {
	padding: 0px !important;
}

/* Admin - FullScreen Status */

#full-screen-status-link {
	float: right;
	cursor: pointer;
	font-style: italic;
	margin-top: 10px;
	padding: 5px 40px 5px 0;
	background: transparent url(../images/fullscreen-32.png) no-repeat right center;
	text-decoration: underline;
}

#status-monitor-fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000;
	color: #FFFFFF;
	z-index:999;
	top:0;
	left:0;
	display: none;
}

#status-monitor-fullscreen.full-screen {
	display: block;
}


#status-monitor-fullscreen .section-title{
	margin: 5px 10px;
	font-size: 150%;
	color: #FFFFFF;
}

#error-log-fullscreen {
	width: 65%;
	height: 100%;
	float: left;
}

#status-babmoo-fullscreen {
	width: 32%;
	height: 100%;
	float: right;
}

#error-log-fullscreen table {
	width: 100%;
	height: 43%;
}

#error-log-fullscreen table td {
	width: 50%;
	height: 45%;
	font-size: 600%;
	vertical-align: middle;
	text-align: center;
	float: left;
	background-color: #128A0E;
	border:  1px solid black;
}

#error-log-fullscreen table.err-display td {
	font-size: 800%;
}

#error-log-fullscreen table td.attention-error {
	background-color: #C9162C;
}

#error-log-fullscreen table td.attention-warning {
	background-color: #FF7800;
}

#status-babmoo-fullscreen ul {
	width: 95%;
	height: 100%;
	list-style-type: none;
	margin: 0 auto;
}

#status-babmoo-fullscreen ul li {
	width: 100%;
	display: block;
	padding:  5px 0;
}

#status-babmoo-fullscreen ul li img {
	float: left;
	width: 48px;
	height: 48px;
	padding-right: 10px;
}

#status-babmoo-fullscreen ul li div {
	overflow: hidden;
}

ul.flaglist {
	list-style-type: none;
}

ul.flaglist li {
	background:  url(../images/flag_red.gif) no-repeat left center;
	padding-left: 18px;
}

ul.flaglist li a {
	text-decoration: underline;
}

span.green {
	color: green;
}

span.red {
	color: red;
}

span.orange {
	color: orange;
}

#reviewerStats .section {
	text-align:center;
	font-size: 14px;
	line-height: 18px;
}

#reviewerStats .rightSide {
	float: right;
	width: 35%;
}

#reviewerStats .leftSide {
	float:left;
	width: 35%;
}

#reviewerStats .centerSide {
	margin: auto;
	width: 30%;
}

#reviewerStats span.yellow {
	color: #ffff00;
}

#reviewerStats span.white {
	color: #fff;
}

#reviewerStats span.red {
	color: #FF0000;
}

/*search form*/
.form-inline-search .btn-info{
    margin-left: 29px;
    width: 254px;
}
.form-inline-search .input-medium{
    min-width: 250px;
    width: 250px;
}

h2.title {
    padding:15px;
}

/*Company form*/
.logoCompany
{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

form.form-inline-search {
    margin: 0px;
}

div.grid-view {
    padding: 0px;
}